annotated-types==0.7.0
asgiref==3.8.1
cffi==1.16.0
contextlib2==21.6.0
cryptography==42.0.8
Django==5.0.6
django-cors-headers==4.4.0
django-ninja==1.1.0
django-ninja-crud==0.5.0
django-ninja-extra==0.20.7
django-ninja-jwt==5.3.1
django-rest-testing==0.1.0
dnspython==2.6.1
email_validator==2.2.0
idna==3.7
injector==0.21.0
mysqlclient==2.2.4
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
PyJWT==2.8.0
python-dotenv==1.0.1
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
